//== General
//-----------------------

$folderImage: "/images";


//Fonts
$fontsFamily:"Roboto Condensed";
$fontsFile: "RobotoCondensed";
$fontSize: 14px;

//Options
$noBorder : none;
$radius: 5px;


//Colors

$colorPrimary : #FFCC00;