@charset "UTF-8";
/*!
* Charmeleon Theme for Chamila Project
* 2015 - Alex Aragón (alex.aragon@beeznest.com)
*/
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: "normal";
  src: local("Roboto Condensed Ligth"), local("RobotoCondensed-Ligth"), url("fonts/RobotoCondensed-Ligth.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: "normal";
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: "normal";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("fonts/RobotoCondensed-Bold.woff2") format("woff2");
}
body {
  font-family: "Roboto Condensed";
  font-size: 14px;
}

header {
  background-color: #FFFFFF;
}

footer {
  background: #000000;
  color: #FFFFFF;
}
footer a {
  color: #E6E6E6;
}
footer a:hover {
  color: #FFCC00;
}

.title-n1 {
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
}

.title-n2 {
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
}

.description {
  color: #000000;
  font-size: 22px;
  font-style: normal;
  color: #808080;
}

.title-n3 {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}

#hero {
  min-height: 580px;
  padding-top: 70px;
  text-align: center;
}
#hero .description {
  color: #FFFFFF;
  font-style: italic;
}
#hero #search-course {
  padding-left: 25%;
  padding-right: 25%;
}
#hero .btn-primary {
  font-size: 2.4rem;
}
#hero .form-control {
  border-right: none;
}
#hero .input-group-addon {
  background-color: #FFF;
}

#focus {
  text-align: center;
  padding-top: 70px !important;
}
#focus .description {
  font-size: 18px;
  line-height: 1.6;
}
#focus .message {
  padding-bottom: 35px;
}
#focus .user-tips {
  padding-top: 35px;
}

#content-body {
  margin-top: 10px;
}

#course_tools .content a {
  font-size: 14px;
  color: #808080;
}
#course_tools .content a:hover {
  color: #000000;
  text-decoration: none;
}
#course_tools .content visible {
  color: #AAA;
}

.big_icon {
  padding: 10px;
}
.big_icon a {
  display: inline-block;
  border: 3px solid #CCCCCC;
  padding: 10px;
  border-radius: 50%;
}
.big_icon a:hover, .big_icon a:focus {
  box-shadow: 0px 4px 18px #C8C8C8;
}
.big_icon img {
  box-shadow: none;
  padding: 0px;
  border-radius: 0px;
  border: none;
}
.big_icon img:hover {
  box-shadow: none;
}

.navbar-default {
  background: #FFCC00;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav {
  margin: 0px;
}
.navbar-default .navbar-nav .active a {
  background: #E7E7E7;
  color: #000000;
}
.navbar-default .nav li {
  font-weight: 700;
  font-size: 20px;
}
.navbar-default .nav li a {
  color: #000000;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-brand {
  padding: 10px;
}

.btn-primary {
  color: #000000;
  background-color: #FFCC00;
  border-color: #FFCC00;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-primary:active, .btn-primary:focus {
  background-color: #FFCC00;
  border-color: #FFCC00;
  color: #000000;
}

.login .btn-default {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: 700;
}
.login .btn-default:hover, .login .btn-default:active, .login .btn-default:focus {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}
.login .dropdown-menu {
  min-width: 290px;
}
.login .dropdown-menu .panel-default {
  border: none;
  margin-bottom: 0px;
}

.item-session {
  border: 1px solid #E1E2E1;
  margin-bottom: 40px;
}
.item-session .thumbnail {
  padding: 0px;
  border: none;
  margin-bottom: 10px;
}
.item-session .thumbnail .course-metadata {
  position: absolute;
  top: 10px !important;
  left: 16px !important;
  font-size: 1.35rem;
  text-transform: uppercase;
  z-index: 3;
}
.item-session .thumbnail .course-metadata span {
  float: left;
  padding: 3px 8px;
  margin: 0px 0px 1px;
}
.item-session .thumbnail .course-metadata .category {
  color: #FFFFFF;
  background-color: rgba(22, 22, 22, 0.6);
}
.item-session .description {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.item-session .description .title {
  min-height: 40px;
}
.item-session .description .title h3 {
  font-size: 14px;
  margin-top: 0px;
}
.item-session .description .text {
  min-height: 80px;
}
.item-session .description .text p {
  font-size: 13px;
}

/*# sourceMappingURL=default.css.map */
