//== General
//-----------------------

$folderImage: "images/";


//Fonts
$fontsFamily:"Roboto Condensed";
$fontsFile: "RobotoCondensed";
$fontBody: 14px;
$fontMenu: 20px;
$fontItem: 14px;

//Options
$noBorder : none;
$radius: 5px;
$padding: 5px;
$cero: 0px;


//Colors

$colorPrimary : #FFCC00;
$colorSecundary: #000000;
$colorWhite: #FFFFFF;
$colorFontsBody: #808080;
$colorFontsFooter: #FFFFFF;
$colorFix: #E6E6E6;