/*!
* Charmeleon Theme for Chamila Project
* 2015 - Alex Aragón (alex.aragon@beeznest.com)
*/

//Variables

@import "_variables.scss";

//Mixins

@import "_mixin.scss";

//Fonts
@include font-face($fontsFamily,$fontsFile,'Ligth', 300, 'normal');
@include font-face($fontsFamily,$fontsFile,'Regular', 400, 'normal' );
@include font-face($fontsFamily,$fontsFile,'Bold', 700, 'normal');
//@include font-face($fontsFamily,$fontsFile,'LightItalic', 300, 'italic');
//@include font-face($fontsFamily,$fontsFile,'Italic', 400, 'italic');
//@include font-face($fontsFamily,$fontsFile,'BoldItalic', 700, 'italic');

body{
    font-family: $fontsFamily;
    font-size: $fontBody;
}
a{
    color: $colorSecundary;
    &:hover{
        color: $colorFontsBody;
    }
}
header{
    background-color: $colorWhite;
}
footer{
    background: $colorSecundary;
    color: $colorFontsFooter;
    a{
        color: $colorFix;
    }
    a:hover{
        color: $colorPrimary;
    }
}
.title-n1{
    color: $colorWhite;
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
}
.title-n2{
    color: $colorSecundary;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
}
.description{
    color: $colorSecundary;
    font-size: 22px;
    font-style: normal;
    color: $colorFontsBody;
}
.title-n3 {
  color: $colorSecundary;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}
#hero{
    min-height:580px; 
    padding-top: 70px;
    text-align: center;
    
    .description{
        color: $colorWhite;
        font-style: italic;
    }
    #search-course{
        padding-left: 25%;
        padding-right: 25%;
    }
    .btn-primary{
        font-size: 2.4rem;
    }
    .form-control{
        border-right: none;
    }
    .input-group-addon{
        background-color: #FFF;
    }
}
#focus{
    text-align: center;
    padding-top: 70px !important;
    .description{
        font-size: 18px;
        line-height: 1.6;
    }
    .message{
        padding-bottom: 35px;
    }
    .user-tips{
        padding-top: 35px;
    }
}
#content-body, #my-courses{
    margin-top: 10px;
}
#course_tools {
    .content{
        a{
            font-size: $fontBody;
            color: $colorFontsBody;
            &:hover{
                color: $colorSecundary;
                text-decoration: none;
            }
        }      
        visible{
            color:#AAA;
        }
    } 
}
.big_icon{
    padding: 10px;
    a{
        display: inline-block;
        border: 3px solid #CCCCCC;
        padding: 10px;
        border-radius: 50%;
        &:hover, &:focus{
            box-shadow: 0px 4px 18px #C8C8C8;
        }
    }
    
    img{
        box-shadow: none;
        padding: 0px;
        border-radius: 0px;
        border: none;
        &:hover{
          box-shadow: none;  
        }
    }
}
//Navbar
@import "navbar.scss";

//Botton

.btn-primary{
    color: $colorSecundary;
    background-color: $colorPrimary;
    border-color: $colorPrimary;
    font-weight: 700;
    &:hover{
        background-color: $colorSecundary;
        border-color: $colorSecundary;
    }
    &:active, &:focus{
         background-color: $colorPrimary;
         border-color: $colorPrimary;
         color: $colorSecundary;
    }
}
.login {
  .btn-default{
    color: $colorSecundary;
    background-color: $colorWhite;
    border-color: $colorWhite;
    font-weight: 700;
    &:hover, &:active, &:focus{
        color: $colorWhite;
        background-color: $colorSecundary;
        border-color: $colorSecundary;
    }
   }
   .dropdown-menu{
       min-width: 290px;
       .panel-default{
           border: $noBorder;
           margin-bottom: 0px;
       }
   }
}
// icons input

//modals
.modal-backdrop.in{
    opacity: 0.7;
}
.modal-title{
    font-weight: bold;
}
.modal-content{
    background-color: $colorModal;
    .input-group-addon{
        background-color: #FFF;
        .fa{
            color: #B3B3B3;
        }
    }
    .form-control{
        border-left: none;
        height: 40px;
    }
}
.modal-header{
    border-bottom-color: $borderModal;
}
.modal-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    .col-sm-offset-2{
      display: none;   
    }
    #extra-form{
       a{
            color: $colorSecundary;
            font-weight: bold;
            &:hover{
                color: $colorHover;
                text-decoration: none;
            }
        }
    }
}
//items session
.item-session{
    margin-bottom: 40px;
    .thumbnail{
        padding: 0px;
        border: none;
        margin-bottom: 10px;
        .course-metadata{
            position: absolute;
            top: 10px !important;
            left: 16px !important;
            font-size: 1.35rem;
            text-transform: uppercase;
            z-index: 3;
            span{
                float: left;
                padding: 3px 8px;
                margin: 0px 0px 1px;
            }
            .category{
                color: $colorWhite;
                background-color: rgba(22, 22, 22, 0.6);
            }
        }
    }
    .description{
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        .title{
            min-height: 40px;
            h3{
                font-size: $fontItem;
                margin-top: $cero;
            }
        }
        .teacher{
            font-size: $fontBody;
        }
        .info{
            font-size: $fontBody;
        }
        .text{
            p{
                font-size: $fontBody;
            }
        }
    }
}
//items session my courses
#my-courses .item-session{
    margin-bottom: 40px;
    .thumbnail{
        padding: 0px;
        border: none;
        margin-bottom: 10px;
        .course-metadata{
            position: absolute;
            top: 10px !important;
            left: 16px !important;
            font-size: 1.35rem;
            text-transform: uppercase;
            z-index: 3;
            span{
                float: left;
                padding: 3px 8px;
                margin: 0px 0px 1px;
            }
            .category{
                color: $colorWhite;
                background-color: rgba(22, 22, 22, 0.6);
            }
        }
    }
    .description{
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        .title{
            min-height: 40px;
            h3{
                font-size: $fontItem;
                margin-top: $cero;
            }
        }
        .text{
            p{
                font-size: $fontBody;
            }
        }
    }
}
//menu lateral
.sidebar .nav{
    li{
        a{
           padding: 5px;
           &:hover{
               background: none;
           }
           img{
               margin-right: 5px;
           }
        }
    }
}
