//Navbar
.navbar-default{
    background: $colorPrimary;
    border: $noBorder;
    border-radius: $radius - $radius;
    margin-bottom: 0px;
    .navbar-nav{
        margin: 0px;
        .active{
            a{
              background: #E7E7E7;
              color: $colorSecundary;
            }
        }
    }
    .nav{
        li{
            font-weight: 700;
            font-size: $fontMenu;
            a{
                color:$colorSecundary;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
.navbar-brand{
    padding: $padding + 5;
}
.avatar-user .dropdown-menu li{
    font-size: 14px;
}
