//== General
//-----------------------

$folderImage: "images/";


//Fonts
$fontsFamily:"Roboto Condensed";
$fontsFile: "RobotoCondensed";
$fontBody: 14px;
$fontMenu: 20px;
$fontItem: 16px;

//Options
$noBorder : none;
$radius: 5px;
$padding: 5px;
$cero: 0px;


//Colors

$colorPrimary : #FFCC00;
$colorSecundary: #000000;
$colorWhite: #FFFFFF;
$colorFontsBody: #808080;
$colorFontsFooter: #FFFFFF;
$colorFix: #E6E6E6;
$colorHover: #808080;
$colorModal: #E6E6E6;
$borderModal: #D9D9D9;

// Extra small screen / phone
$screen-xs:                  480px !default;
// Small screen / tablet
$screen-sm:                  768px !default;
// Medium screen / desktop
$screen-md:                  992px !default;
// Large screen / wide desktop
$screen-lg:                  1200px !default;
